parameters:
    level: 5
    paths:
    - packages/core/src
    - packages/cpe-validator/src
    - packages/data/src
    - packages/htmltopdf/src
    - packages/lite/src
    - packages/report/src
    - packages/validator/src
    - packages/ws/src
    - packages/xcodes/src
    - packages/xml/src
    - packages/xml-parser/src
